body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  margin: 0.3em 0;
}
a, a > code {
  color: #3399cc;
  font-weight: bold;
  text-decoration: underline;
}
strong {
  color: #3399cc;
}
img {
  max-height: 100%;
  max-width: 100%;
}

.remark-container {
  background-color: #3f434a;
}
.remark-slide-scaler {
  box-shadow: 0 0 30px #000;
}
.remark-slide-content {
  background: #f5f5f5;
  background-size: cover;
  color: #515151;
  font-size: 26px;
  line-height: 1.75;
}
.remark-slide-content table {
  border-collapse: collapse;
}
.remark-slide-content thead th {
  background: #eeeeee;
  padding: 0.25em 1em;
}
.remark-slide-content th,
.remark-slide-content td {
  border: 1px solid #515151;
  padding: 0.25em 1em;
}
.remark-slide-content tbody {
  background-color: #ffffff;
}
.remark-code, .remark-inline-code {
  font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
}
.remark-slide-number {
  font-size: .8em;
}

.invert {
  color: #f5f5f5;
  background-color: #515151;
  text-shadow: 2px 2px 1px #000;
}
.invert a, .invert a > code {
  color: #f5f5f5;
  font-weight: bold;
  text-decoration: underline;
}
.footnote {
  position: absolute;
  bottom: 3em;
  right: 4em;
}

.left-column-25 {
  width: 22.5%;
  float: left;
}
.left-column-50 {
  width: 47.5%;
  float: left;
}
.left-column-75 {
  width: 72.5%;
  float: left;
}
.right-column-25 {
  width: 22.5%;
  float: right;
}
.right-column-50 {
  width: 47.5%;
  float: right;
}
.right-column-75 {
  width: 72.5%;
  float: right;
}

.small {
  font-size: 0.75em;
}
.small .remark-code {
  font-size: 0.575em;
}
.large {
  font-size: 1.25em;
}
.large > img {
  max-height: 2.4em;
  vertical-align: middle;
}
.very-large {
  font-size: 3.2em;
}

.circle > img {
  border-radius: 50%;
}

/* https://github.com/gnab/remark/issues/50#issuecomment-223887379 */
@page {
  /* For 4:3 */
  /* size: 908px 681px; */
  /* For 16:9 */
  size: 1210px 681px;
  margin: 0;
}
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
