@charset 'utf-8';

$red:        #eb6553;
$orange:     #faad73;
$blue:       #007ba8;
$light-gray: #f9fafb;
$mid-gray:   #515151;
$dark-gray:  #3f434a;
$white:      #fafafa;

$font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-mono: Consolas, Menlo, Monaco, monospace;

body {
  font-family: $font-family;
  text-rendering: optimizeLegibility;
}

.remark-container {
  background-color: $dark-gray;
}

.remark-slide-scaler {
  box-shadow: 0 0 30px #000;
}

.remark-slide-content {
  & {
    background-color: $white;
    background-size: cover;
    color: $mid-gray;
    font-size: 31px;
    line-height: 2.4;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    padding: 0.3em 0;
  }

  a, a > code {
    color: $blue;
    font-weight: bold;
    text-decoration: underline;
  }

  strong {
    color: $blue;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  @for $i from 0 through (80 / 5) {
    $w:  20 + $i * 5;
    .img-#{$w} img {
      width: #{$w * 1%};
    }
  }

  table {
    border-collapse: collapse;
  }
  thead th {
    background: #eeeeee;
    padding: 0.25em 1em;
  }
  th, td {
    border: 1px solid #515151;
    padding: 0.25em 1em;
  }
  tbody {
    background-color: #ffffff;
  }

  .footnote {
    position: absolute;
    bottom: 3em;
    right: 4em;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  @for $i from 0 through (60 / 5) {
    $w:  20 + $i * 5;
    .column-#{$w} {
      width: calc(#{$w * 1%} - .5em);
    }
  }

  @for $i from -5 through 5 {
    .margin-#{$i}em {
      margin-top: $i * 1em;
    }
  }

  .small {
    font-size: 0.75em;
  }
  .small .remark-code {
    font-size: 0.575em;
  }
  .large {
    font-size: 1.25em;
  }
  .larger {
    font-size: 1.5em;
  }

  .item > img {
    max-height: 2.4em;
  }
  .item-large > img {
    max-height: 3.2em;
  }
  .item-middle > img {
    vertical-align: middle;
  }
  .very-large {
    font-size: 3.2em;
  }

  .circle > img {
    border-radius: 50%;
  }

  &.invert {
    color: #f5f5f5;
    background-color: #515151;
    text-shadow: 2px 2px 1px #000;

    a, a > code {
      color: #f5f5f5;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .vim-logo > img {
    vertical-align: -36%;
  }
}

.remark-code, .remark-inline-code {
  font-family: $font-family-mono;
}

.remark-code {
  font-size: 20px;
  line-height: 1.4;
}

.remark-slide-number {
  font-size: .75em;
}

/* https://github.com/gnab/remark/issues/50#issuecomment-223887379 */
@page {
  /* For 4:3 */
  /* size: 908px 681px; */
  /* For 16:9 */
  size: 1210px 681px;
  margin: 0;
}
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
