body {
  font-family: Verdana, Roboto, "Droid Sans", "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
}
.remark-slide-content h1 {
  font-size: 200%;
}
.remark-slide-content h2 {
  font-size: 180%;
}
.remark-slide-content h3 {
  font-size: 140%;
}
.remark-slide-content h4 {
  font-size: 130%;
}
.remark-slide-content h5 {
  font-size: 120%;
}
.remark-slide-content h6 {
  font-size: 110%;
}
a:link, a:visited, a:hover, a:active {
  color: #BA3A3B;
  font-weight: bold;
  text-decoration: underline;
}
img {
  width: 100%;
}

.remark-container {
  background-color: #1A1C1F;
}
.remark-slide-scaler {
  box-shadow: 0 0 30px #000;
}
.remark-slide-content {
  background: #272822;
  color: #f3f3f3;
  line-height: 1.8;
}
.remark-code {
  font-size: 16px;
}

.left-column {
  width: 20%;
  height: 92%;
  float: left;
}
.right-column {
  width: 75%;
  float: right;
}
