@charset 'utf-8';

$red:        #eb6553;
$orange:     #faad73;
$blue:       #007ba8;
$light-gray: #f9fafb;
$mid-gray:   #515151;
$dark-gray:  #3f434a;
$white:      #fafafa;

$font-family: 'M+ 1c', sans-serif;
$font-family-headings: 'SF Pro Display', 'M+ 1c', sans-serif;
$font-family-mono: 'Source Code Pro', monospace;

$padding-vert: 1em;
$padding-horiz: 2.8em;

body {
  font-family: $font-family;
  text-rendering: optimizeLegibility;
}

.remark-container {
  background-color: $dark-gray;
}

.remark-slide-scaler {
  box-shadow: none;
  overflow: hidden;
}

.remark-slide-content {
  & {
    background-color: $white;
    background-size: cover;
    color: $mid-gray;
    font-size: 32px;
    line-height: 2.4;
    padding: $padding-vert $padding-horiz;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headings;
    font-weight: 600;
    line-height: 1.6;
    margin: 0;
  }

  h1 {
    font-size: 64px;
  }

  a, a > code {
    color: $blue;
    text-decoration: underline;
  }

  strong {
    color: $blue;
    font-weight: 700;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  @for $i from 0 through (80 / 5) {
    $w:  20 + $i * 5;
    .img-#{$w} img {
      width: #{$w * 1%};
    }
  }

  table {
    margin: 1em 0;
    border-collapse: collapse;
  }
  thead th {
    background: #eeeeee;
    font-family: $font-family-headings;
    padding: 0 1em;
  }
  th, td {
    border: 1px solid #515151;
    padding: 0 1em;
  }
  tbody {
    background-color: #ffffff;
  }

  .footnote {
    background: rgba($white, 0.7);
    position: absolute;
    bottom: 12px;
    right: 20px;
    text-align: right;

    & > p {
      margin: 0;
      line-height: 1.6;
    }
  }

  %overlay {
    background: #fff;
    border: 2px solid $dark-gray;
    box-shadow: 5px 5px 5px rgba($mid-gray, .5);
    width: fit-content;
    height: min-content;
    margin-bottom: auto;
    margin-top: auto;
    padding: 0 1em;
  }

  .overlay-right {
    @extend %overlay;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }

  .overlay-left {
    @extend %overlay;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
  }

  .overlay-center {
    @extend %overlay;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  @for $i from 0 through (60 / 5) {
    $w:  20 + $i * 5;
    .column-#{$w} {
      width: calc(#{$w * 1%} - .5em);
    }
  }

  @for $i from -5 through 5 {
    .margin-#{$i}em {
      margin-top: $i * 1em;
    }
  }

  .margin-0 > * {
    margin: 0;
  }

  @mixin font-size($size) {
    font-size: $size;
    .remark-code {
      font-size: $size;
    }
  }

  .small {
    @include font-size(0.75em);
  }
  .smaller {
    @include font-size(0.675em)
  }
  .tiny {
    @include font-size(0.45em)
  }
  .large {
    @include font-size(1.25em)
  }
  .larger {
    @include font-size(1.5em)
  }
  .very-large {
    @include font-size(3.2em)
  }

  .inline-img > img {
    max-height: 2.0em;
  }
  .inline-img-large > img {
    max-height: 3.2em;
  }
  .inline-img-middle > img {
    max-height: 2.0em;
    vertical-align: middle;
  }
  .inline-img-large-middle > img {
    max-height: 3.2em;
    vertical-align: middle;
  }

  .circle > img {
    border-radius: 50%;
  }

  &.section-title-page {
    background: none;
    z-index: 2;
  }

  &.section-title-page::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: -1;
  }

  $section-number-width: 224px;

  &.section-title-page::after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: $section-number-width;
    background-color: $dark-gray;
    z-index: -1;
  }

  .section-title {
    display: flex;
    position: relative;
    top: 4.8em;
    align-items: baseline;
    justify-content: space-between;
    font-weight: 600;

    .section-number {
      color: $white;
      font-size: 2.8em;
      width: calc(#{$section-number-width} - ($padding-horiz / 2.8));
    }

    .section-text {
      font-size: 1.6em;
      width: 85%;
    }
  }

  &.invert {
    color: #f5f5f5;
    background-color: #515151;
    text-shadow: 2px 2px 1px #000;

    a, a > code {
      color: #f5f5f5;
      text-decoration: underline;
    }
  }

  &.center-table table {
    margin-left: auto;
    margin-right: auto;
  }

  &.highlight-last-row > table > tbody {
    & > tr:last-child {
      background-color: lighten($blue, 60);
    }

    & > tr:not(:last-child) {
      color: rgba($mid-gray, .5);
    }
  }

  &.first-large-list > ul > li,
  &.first-large-list > ol > li {
    font-size: 1.25em;

    & ul, & ol {
      font-size: .8em;
    }
  }

  &.no-slide-number .remark-slide-number {
    display: none;
  }
}

.remark-code, .remark-inline-code {
  font-family: $font-family-mono;
}

.remark-code {
  font-size: 22px;
  line-height: 1.6;
}

.remark-slide-number {
  font-size: .75em;
}

/* https://github.com/gnab/remark/issues/50#issuecomment-223887379 */
@page {
  /* For 4:3 */
  /* size: 908px 681px; */
  /* For 16:9 */
  size: 1210px 681px;
  margin: 0;
}
@media print {
  .remark-slide-scaler {
    box-shadow: none;
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
